appName: "tunnel"
log:
  level: debug
  destinations:
    - type: stdout
  contextKeys:
    - transaction_id
    - message_id
    - subscriber_id
    - module_id
http:
  port: 8083
  timeout:
    read: 30
    write: 30
    idle: 30
pluginManager:
  root: ./plugins
modules:
  - name: tunnelForward
    path: /tunnel/forward/
    handler:
      type: std
      role: bpp
      httpClientConfig:
        maxIdleConns: 1000
        maxIdleConnsPerHost: 200
        idleConnTimeout: 300s
        responseHeaderTimeout: 5s
      plugins:
        router:
          id: router
          config:
            routingConfig: ./config/tunnel/tunnel-routing-forward.yaml
      steps:
        - addRoute
  
  - name: tunnelCallback
    path: /tunnel/callback/
    handler:
      type: std
      role: bpp
      httpClientConfig:
        maxIdleConns: 1000
        maxIdleConnsPerHost: 200
        idleConnTimeout: 300s
        responseHeaderTimeout: 5s
      plugins:
        router:
          id: router
          config:
            routingConfig: ./config/tunnel/tunnel-routing-callback.yaml
      steps:
        - addRoute
